body {
    margin: 0;
    background: linear-gradient(120deg, #2980b9, #8e44ad);

}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li {
    text-decoration: none;
    color: #000;
    font-weight: bold;

}
nav ul li a:hover {
    color: red;
}
.detelcontainer{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
}
img{
    border-radius:30px;
    height: 350px;
    box-shadow: blue;
    border-style: dotted;
}
img:hover{
    border-color: #fbff00;
    animation: linear;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: italic;
    padding-left: 45px;
}
span{
    color: orange;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: italic;
    padding-left: 45px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size:36px;
    font-style: italic;
    padding-left: 45px;
}
.btn {
    background-color: orange;
    color: red;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transparent.4s;
}

.btn:hover {
    transform: scale(1.2);
}

form {
    margin-left: 50px;
    margin-bottom: 30px;
    color: #fbff00;
    font-size: 30px;
}

.design {
    padding: 50px 300px 0px 300px;
    background-color: #212121;
    font-size: 50px;
    color: white;
    font-style: italic;
    height: 450px;
}

.main {
    width: 50px;
    padding: 115px;
    background-color: #191919;
}

.main img {
    height:500px ;
    width: 300px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
}
.about-text h2 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 4px;
}

.about-text h4 {
    color: white;
    letter-spacing: 4px;
    font-size: 36px;
    margin: 0px;
    text-transform: capitalize;
    padding-left: 45px;
}

.about-text p {
    color: rgba(251, 255, 204, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 30px;
    padding: 30px;
}

button {
    background-color: #f9004d;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border: 2px solid transparent;
    margin-left: 200px;
}

button:hover {
    background-color: transparent;
    border: 2px solid;

}

.service {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: #101010;
    font-size: 30px;
    margin: 100px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    text-align: center;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    border-color: fuchsia;
    border-style: double;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card:hover{
    border-color: dodgerblue;
    border-style: dashed;
    transition: 0s;
    animation-duration: 5s;
}
.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h4 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 20px;
    line-height: 25px 0;
    margin-bottom: 0px;
}

footer {
    background-color: #111;
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 30px;

}

.socialicons {
    padding-right: 500px;
    font-size: 36px;
}

.socialicons a i {
    color: white;
    transition: transparent.4s;
}

.socialicons a i:hover {
    color: #f9004d;
}

.footernav {
    padding-right: 500px;
    transition: .2s linear;
    color: var(--main-color); 
   margin-right: .8rem;
}
.footernav:hover{
    margin-right: 2rem;
}

.footernav p {
    text-align: center;
}

.footernav h2 {
    text-align: center;
}

.footernav h3 {
    text-align: center;
}

.footerbooton {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerbooton p {
    color: white;
}

/*-------------------------------------------*/
/*---------------------------media querries-------*/
@media screen and (max-width:600px) {

    body {
        background-color: #fbff00;
    }

    nav {
        display: grid;
        height: 200px;
        width: auto;
    }

    .btn {
        width: 120px;
    }

    .title h2 {
        margin: 100px auto;
    }

    .socialicons {
        margin-top: 30px;
        padding-right: 500px;
        font-size: 36px;
    }

    .footernav {
        padding-left: 500px;
    }
}